<div class="font-bold text-4xl mb-4">マイページ</div>
<div style="display: flex; justify-content: center; align-items: center; min-height: 50vh;">
  <div class="col-md-10 col-lg-8 mx-auto" style="padding: 40px;"><br>
      <table class="table w-full">
        <tr>
          <th class="text-2xl">氏名</th>
          <td class="text-xl"><%= current_user.name %></td>
        </tr>
        <tr>
          <th class="text-2xl">メールアドレス</th>
          <td class="text-xl"><%= current_user.email %></td>
        </tr>
        <tr>
          <th class="text-2xl">アバター</th>
          <td class="text-xl"><%= image_tag current_user.avatar_url, size: '150x150' %></td>
        </tr>  
      </table><br>
      <div class="flex justify-center ">
        <%= link_to '編集', edit_profiles_path, class: "btn btn-primary text-xl px-8 py-4" %>
      </div>    
  </div>
</div>
